<div class="container-fluid mt-n10">
  <div class="card mb-4">
    <div class="card-header">Liste des Ticket</div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="d-flex align-items-center justify-content-start my-3">
            <input type="text" class="form-control me-2" placeholder="Rechercher..." style="width: 65%" />
            <button class="btn btn-outline-info">Filtrer</button>
            &nbsp;
            <a routerLink="/addprojection" class="btn btn-outline-primary">Ajouter nouveau Projection</a>
          </div>
        </div>

            <table class="table table-bordered text-center">
              <thead>
              <tr>
                <th>ID</th>
                <th scope="col">Date Projection</th>
                <th scope="col">Prix</th>
                <th scope="col">Salle</th>
                <th scope="col">Film</th>
                <th scope="col">Action</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let projection of projections">
                <td>{{ projection.id}}</td>
                <td>{{ projection.dateProjection | date:'yyyy/MM/dd' }}</td>
                <td>{{ projection.prix }}</td>
                <td>{{ projection.salle ? projection.salle.name : '' }}</td>
                <td>{{ projection.film ? projection.film.titre : '' }}</td>
                <td>
                  <button [routerLink]="'/updateProjection/' + projection.id" class="btn btn-outline-warning" type="button">Modifier</button>
                  &nbsp;
                  <button  (click)="confirmAndDelete(projection)"class="btn btn-outline-danger"  type="button">Delete</button>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

