<div class="container-fluid mt-n10">
  <div class="card mb-4">
    <div class="card-header">Modifier un Client</div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="container mt-4">

            <form [formGroup]="filmForm" (ngSubmit)="onSubmit()" >
              <div class="form-group mb-3">
                <label for="titre">Titre :</label>
                <input type="text" formControlName="titre" id="titre" class="form-control" required>
              </div>
              <div class="form-group mb-3">
                <label for="realisateur">Réalisateur :</label>
                <input type="text" formControlName="realisateur" id="realisateur" class="form-control" required>
              </div>
              <div class="form-group col-md-6">
                <label for="dateFilm">Date Film</label>
                <input type="datetime-local" id="dateFilm" class="form-control" formControlName="dateFilm" required>
                <div *ngIf="filmForm.get('dateFilm')?.errors?.['required'] && (filmForm.get('dateFilm')?.touched || filmForm.get('dateFilm')?.dirty)" class="text-danger">
                  La date du film est requise.
                </div>
              </div>
              <div class="form-group mb-3">
                <label for="genre">Genre :</label>
                <input type="text" formControlName="genre" id="genre" class="form-control" required>
              </div>
              <div class="form-group mb-3">
                <label for="cheminImage">cheminImage :</label>
                <input type="text" formControlName="cheminImage" id="cheminImage" class="form-control" required>
              </div>
              <button type="submit" class="btn btn-outline-primary">Modifier</button>
            </form>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>



