<div class="container mt-n10">
  <div class="card mb-4">
    <div class="card-header">Ajouter Client</div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="container mt-4">
            <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
              <div class="form-group mb-3"> <!-- Ajout de la classe "mb-3" pour une marge après le champ "Nom" -->
                <label for="nom">Nom :</label>
                <input type="text" formControlName="nom" id="nom" class="form-control" required>
              </div>
              <div *ngIf="nameError" class="text-danger">{{ nameError }}</div>
              <div class="form-group mb-3"> <!-- Ajout de la classe "mb-3" pour une marge après le champ "Téléphone" -->
                <label for="tel">Téléphone :</label>
                <input type="text" formControlName="tel" id="tel" class="form-control" required>
              </div>
              <button type="submit" class="btn btn-primary">Envoyer</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
