<form [formGroup]="ticketForm" (ngSubmit)="onSubmit()">
  <div class="form-group col-md-4">
    <label for="client">Client :</label>
    <select id="client" class="form-control" formControlName="client">
      <option *ngFor="let client of clients" [value]="client.id" required>{{ client.nom }}</option>
    </select>
    <div *ngIf="ticketForm.get('client')?.invalid && (ticketForm.get('client')?.dirty || ticketForm.get('client')?.touched)" class="text-danger">
      Le client est requis.
    </div>
  </div>
  <div class="form-group col-md-4">
    <label for="place">Place :</label>
    <select id="place" class="form-control" formControlName="place">
      <option *ngFor="let place of places" [value]="place.id" required>{{ place.numero }}</option>
    </select>
    <div *ngIf="ticketForm.get('place')?.invalid && (ticketForm.get('place')?.dirty || ticketForm.get('place')?.touched)" class="text-danger">
      La place est requise.
    </div>
  </div>
  <div class="form-group col-md-4">
    <label for="salle">Salle :</label>
    <select id="salle" class="form-control" formControlName="salle">
      <option *ngFor="let salle of salles" [value]="salle.id" required>{{ salle.name }}</option>
    </select>
    <div *ngIf="ticketForm.get('salle')?.invalid && (ticketForm.get('salle')?.dirty || ticketForm.get('salle')?.touched)" class="text-danger">
      La salle est requise.
    </div>
  </div>
  <div class="form-group col-md-4">
    <label for="film">Film :</label>
    <select id="film" class="form-control" formControlName="film">
      <option *ngFor="let film of film" [value]="film.id" required>{{ film.titre }}</option>
    </select>
    <div *ngIf="ticketForm.get('film')?.invalid && (ticketForm.get('film')?.dirty || ticketForm.get('film')?.touched)" class="text-danger">
      Le film est requis.
    </div>
  </div>
  <div class="form-group col-md-4">
    <label for="projection">Projection :</label>
    <select id="projection" class="form-control" formControlName="projection">
      <option *ngFor="let projection of projections" [value]="projection.id" required>{{ projection.dateProjection }}</option>
    </select>
    <div *ngIf="ticketForm.get('projection')?.invalid && (ticketForm.get('projection')?.dirty || ticketForm.get('projection')?.touched)" class="text-danger">
      La projection est requise.
    </div>
  </div>

  <div class="form-group mt-3">
    <button type="submit" class="btn btn-primary">Créer Ticket</button>
  </div>
</form>
